{
    "env": {
        "browser": true
    },

    "extends": ["airbnb"],
    "rules": {
        "no-console":"error",
        "semi": ["error", "always"],
        "react/jsx-filename-extension": "off",
        "linebreak-style": 0,
        "react/react-in-jsx-scope": "off",
        "no-unused-vars": "off"
    },

    "parserOptions": {
        "parser": "@babel/eslint-parser"  
    }
}