@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply font-body;
  }
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  background-color: rgba(228, 227, 227, 0.4);
}

.sun {
  width: 36px;
}

.card {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
