@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply font-body;
  }
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  background-color: rgba(228, 227, 227, 0.4);
}

.swiper-project {
  width: 50% !important;
}

@media (max-width: 1536px) {
  .swiper-project {
    width: 100% !important;
  }
}
.slide-projet {
  width: 400px !important;
}
.slide-tech {
  width: 170px !important;
}
.overlay {
  position: fixed; /* pour couvrir toute la page */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* couleur de fond semi-transparente */
  z-index: 50; /* pour être au-dessus de tous les autres éléments */
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Pour ne pas avoir deux card Contact ouverte en même temps au niveau du header*/
.overlay-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar-open {
  max-width: 200px;
  transition: max-width 0.3s ease-in-out;
}

.search-bar-close {
  max-width: 0;
  transition: max-width 0.3s ease-in-out;
}

.success-notif {
  max-height: 30px;
  transition: max-height 1.5s ease-in-out;
}

.success-notif-close {
  max-height: 0;
}

.glass-header {
  display: flex;
  align-items: center;
}

.glass-home {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

@media (max-width: 500px) {
  .glass-header {
    display: none;
  }
}
@media (min-width: 500px) {
  .glass-home {
    display: none;
  }
}

@media (max-width: 640px) {
  .slide-projet {
    width: 240px !important;
  }
}

@media (max-width: 768px) {
  .overlay-header {
    display: none;
  }
}
